.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Inter', sans-serif;
  font-size: 5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #05386b !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #33ccff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #05386b !important;
  border-color: #05386b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #010d18 !important;
  border-color: #010d18 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #010d18 !important;
  border-color: #010d18 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #5dbb47 !important;
  border-color: #5dbb47 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #3d7d2e !important;
  border-color: #3d7d2e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #3d7d2e !important;
  border-color: #3d7d2e !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #33ccff !important;
  border-color: #33ccff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #00a4db !important;
  border-color: #00a4db !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #00a4db !important;
  border-color: #00a4db !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #05386b;
  color: #05386b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #010d18 !important;
  background-color: transparent!important;
  border-color: #010d18 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #05386b !important;
  border-color: #05386b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #5dbb47;
  color: #5dbb47;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #3d7d2e !important;
  background-color: transparent!important;
  border-color: #3d7d2e !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #5dbb47 !important;
  border-color: #5dbb47 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #33ccff;
  color: #33ccff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #00a4db !important;
  background-color: transparent!important;
  border-color: #00a4db !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #33ccff !important;
  border-color: #33ccff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #05386b !important;
}
.text-secondary {
  color: #5dbb47 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #33ccff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #00050a !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #38722a !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #0099cc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #05386b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #33ccff;
}
.mbr-gallery-filter li.active .btn {
  background-color: #05386b;
  border-color: #05386b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #05386b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #0b78e5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #05386b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #05386b;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #05386b;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #05386b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #05386b;
  border-bottom-color: #05386b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #05386b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #5dbb47 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2305386b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sFAA5oUu2Y {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sFAA5oUu2Y nav.navbar {
  position: fixed;
}
.cid-sFAA5oUu2Y .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFAA5oUu2Y .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sFAA5oUu2Y .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sFAA5oUu2Y .dropdown-item:hover,
.cid-sFAA5oUu2Y .dropdown-item:focus {
  background: #05386b !important;
  color: white !important;
}
.cid-sFAA5oUu2Y .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sFAA5oUu2Y .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sFAA5oUu2Y .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sFAA5oUu2Y .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sFAA5oUu2Y .nav-link {
  position: relative;
}
.cid-sFAA5oUu2Y .container {
  display: flex;
  margin: auto;
}
.cid-sFAA5oUu2Y .iconfont-wrapper {
  color: #05386b !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sFAA5oUu2Y .dropdown-menu,
.cid-sFAA5oUu2Y .navbar.opened {
  background: #ffffff !important;
}
.cid-sFAA5oUu2Y .nav-item:focus,
.cid-sFAA5oUu2Y .nav-link:focus {
  outline: none;
}
.cid-sFAA5oUu2Y .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sFAA5oUu2Y .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sFAA5oUu2Y .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sFAA5oUu2Y .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFAA5oUu2Y .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sFAA5oUu2Y .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sFAA5oUu2Y .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sFAA5oUu2Y .navbar.opened {
  transition: all 0.3s;
}
.cid-sFAA5oUu2Y .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sFAA5oUu2Y .navbar .navbar-logo img {
  width: auto;
}
.cid-sFAA5oUu2Y .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sFAA5oUu2Y .navbar.collapsed {
  justify-content: center;
}
.cid-sFAA5oUu2Y .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sFAA5oUu2Y .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sFAA5oUu2Y .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sFAA5oUu2Y .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sFAA5oUu2Y .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sFAA5oUu2Y .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sFAA5oUu2Y .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sFAA5oUu2Y .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sFAA5oUu2Y .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sFAA5oUu2Y .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sFAA5oUu2Y .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sFAA5oUu2Y .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sFAA5oUu2Y .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sFAA5oUu2Y .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sFAA5oUu2Y .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sFAA5oUu2Y .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sFAA5oUu2Y .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sFAA5oUu2Y .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sFAA5oUu2Y .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sFAA5oUu2Y .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sFAA5oUu2Y .navbar.navbar-short {
  min-height: 60px;
}
.cid-sFAA5oUu2Y .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sFAA5oUu2Y .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sFAA5oUu2Y .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sFAA5oUu2Y .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sFAA5oUu2Y .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sFAA5oUu2Y .dropdown-item.active,
.cid-sFAA5oUu2Y .dropdown-item:active {
  background-color: transparent;
}
.cid-sFAA5oUu2Y .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sFAA5oUu2Y .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sFAA5oUu2Y .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sFAA5oUu2Y .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sFAA5oUu2Y .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sFAA5oUu2Y .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sFAA5oUu2Y ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sFAA5oUu2Y .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sFAA5oUu2Y button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sFAA5oUu2Y button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #05386b;
}
.cid-sFAA5oUu2Y button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sFAA5oUu2Y button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFAA5oUu2Y button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFAA5oUu2Y button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sFAA5oUu2Y nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFAA5oUu2Y nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sFAA5oUu2Y nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sFAA5oUu2Y nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFAA5oUu2Y .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sFAA5oUu2Y a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sFAA5oUu2Y .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sFAA5oUu2Y .navbar {
    height: 70px;
  }
  .cid-sFAA5oUu2Y .navbar.opened {
    height: auto;
  }
  .cid-sFAA5oUu2Y .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sFCAOqBTxa {
  padding-top: 13rem;
  padding-bottom: 12rem;
  background-image: url("../../../assets/images/mbr-1920x1064.jpg");
}
.cid-sFCAOqBTxa .mbr-section-title {
  color: #05386b;
  text-align: center;
}
.cid-sFCAOqBTxa .mbr-text,
.cid-sFCAOqBTxa .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-sFCAOqBTxa .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sFANq99njx {
  padding-top: 7rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sFANq99njx .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-sFANq99njx .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-sFANq99njx .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sFANq99njx .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sFANq99njx .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sFANq99njx .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sFANq99njx .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-sFANq99njx .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sFANq99njx .card-title {
  color: #05386b;
}
.cid-sFANq99njx .mbr-text,
.cid-sFANq99njx .mbr-section-btn {
  color: #05386b;
}
.cid-sVDljVtjDQ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/tipos-de-fuentes-de-financiamiento-para-emprendedores-1024x612.jpg");
}
.cid-sVDljVtjDQ .top-line {
  display: flex;
  justify-content: space-between;
}
.cid-sVDljVtjDQ .mbr-section-title,
.cid-sVDljVtjDQ .mbr-section-subtitle {
  text-align: center;
}
.cid-sVDljVtjDQ .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-sVDljVtjDQ .card-wrapper {
  border-radius: 4px;
  background-color: #fafafa;
  background-color: transparent;
}
.cid-sVDljVtjDQ .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-sVDljVtjDQ .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-sVDljVtjDQ .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sVDljVtjDQ .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-sVDljVtjDQ .mbr-text {
  text-align: left;
  color: #ffffff;
}
.cid-sVDljVtjDQ .card-title {
  color: #fafafa;
}
.cid-sFAOw5Fdod {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sFAOw5Fdod img,
.cid-sFAOw5Fdod .item-img {
  height: 100%;
  height: 500px;
  object-fit: cover;
}
.cid-sFAOw5Fdod .item:focus,
.cid-sFAOw5Fdod span:focus {
  outline: none;
}
.cid-sFAOw5Fdod .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sFAOw5Fdod .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sFAOw5Fdod .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-sFAOw5Fdod .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sFAOw5Fdod .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-sFAOw5Fdod .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-sFAOw5Fdod .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sFAOw5Fdod .mbr-section-title {
  color: #ffffff;
}
.cid-sFAOw5Fdod .mbr-text,
.cid-sFAOw5Fdod .mbr-section-btn {
  text-align: left;
  color: #000000;
}
.cid-sFAOw5Fdod .item-title {
  text-align: left;
  color: #05386b;
}
.cid-sFAOw5Fdod .item-subtitle {
  text-align: left;
  color: #232323;
}
.cid-sFAOw5Fdod .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sFAO03Bfrt {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sFAO03Bfrt .image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-sFAO03Bfrt .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-sFAO03Bfrt .mbr-section-title {
  color: #05386b;
}
.cid-sFAO03Bfrt .mbr-text {
  color: #05386b;
  text-align: left;
}
.cid-sFAO03Bfrt .name {
  color: #05386b;
}
.cid-sFAO03Bfrt .position {
  color: #05386b;
}
.cid-sFAOgbarYq {
  padding-top: 5rem;
  padding-bottom: 7rem;
  background: #fafafa;
}
@media (max-width: 767px) {
  .cid-sFAOgbarYq .row {
    flex-direction: column-reverse;
  }
  .cid-sFAOgbarYq .row .map-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sFAOgbarYq .google-map {
  height: 100%;
  position: relative;
}
.cid-sFAOgbarYq .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sFAOgbarYq .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sFAOgbarYq .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sFAOgbarYq .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sFAOgbarYq .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-sFAOgbarYq .card-wrapper {
  display: flex;
  border-radius: 4px;
  background: #ffffff;
}
.cid-sFAOgbarYq .card-wrapper:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-sFAOgbarYq .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sFAOgbarYq .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-sFAOgbarYq .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #05386b;
}
.cid-sFAOgbarYq .mbr-section-title {
  color: #05386b;
}
.cid-sFAOgbarYq .mbr-section-subtitle {
  color: #05386b;
}
.cid-sFAOgbarYq .card-title {
  color: #05386b;
}
.cid-sFAOgbarYq P {
  color: #05386b;
}
.cid-sFAOjz8nX7 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #05386b;
}
.cid-sFAOjz8nX7 .row-links {
  width: 100%;
  justify-content: center;
}
.cid-sFAOjz8nX7 .social-row {
  width: 100%;
  justify-content: center;
}
.cid-sFAOjz8nX7 .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-sFAOjz8nX7 .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-sFAOjz8nX7 .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-sFAOjz8nX7 .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-sFAOjz8nX7 .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-sFAOjz8nX7 .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-sFAOjz8nX7 .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-sFAOjz8nX7 .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-sFAOjz8nX7 .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sFAOjz8nX7 .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sFAOjz8nX7 .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-sFAOjz8nX7 .media-container-row .row-copirayt p {
  width: 100%;
}
