

/* /////////////////////////////////////nav-responsive/////////////////////////////////////////////////// */


@media(max-width: 1330px){

    .conten-img-sections2{
        flex-direction:column;
    }
    
    .img1-setions2{
        width: 90%;
        height: auto;
    }

    .img2-setions2{
        width: 90%;
        height: auto;
    }

    .img3-setions2{
        width: 90%;
        height: auto;
    }

    

    .p1{
        margin-top: -10px;
        font-size: 50px;
    }
    
    .p2{
        font-size: 25px;
    }
    
    .p3{
        font-size: 25px;
    }



}

@media(max-width: 1180px ){

    .header{
        background-color: #2D4A5E;
        height: 60px;
    }
    
    .logo{
        margin-top: 10px;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
    
    .nav-menu{
        flex-direction: column;
        margin-right: 20px;
        align-items: center;
        padding: 0;
        list-style: none;
        background-color: #2D4A5E;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: fixed;
        height: calc(100% - 60px);
        overflow-y: auto;
        top: 65px;
        width: 100%;
        left: 100%;
    }
    
    .nav-menu-item{
        line-height: 70px;
        
    }
     
    .nav-menu-link:hover{
        border: solid 1px #FEDA15;
        color: #FEDA15;
        transition: 0.5s;
    }
    
    .nav-toggle{
        color: #ffffff;
        background: none;
        border: none;
        font-size: 30px;
        padding:  0 20px;
        line-height: 60px;
        display: block;
        cursor: pointer;
    }
    
    .nav-bisible{
        left: 0;
    }
}
/* ////////////////////////////////////////////////////// responsive img////////////////////////////////////////////////// */

@media(max-width: 750px){

    .texto-vtr1{
        font-size: 50px;
    }
    
    .texto-vtr2{
        font-size: 30px;
        margin-top: -40px;
    }

    .logo-colas{
        width: 200px;
        height: 200px;
    }

    
    .conten-fondo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .fondo1{
        width: 100%;
        height: 700px;
        margin-bottom: -10%;
    }

    .conten-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .cards{
        width: 450px;
        height: 250px;
        margin: 10px;
    }

    .button1{
        width: 130px;
        height: 35px;
    }

}



@media(max-width: 541px){

    .texto-vtr1{
        font-size: 50px;
        text-align: center;
    }
    
    .texto-vtr2{
        font-size: 30px;
        text-align: center;
        margin-top: -40px;
    
    }

    .logo-colas{
        width: 160px;
        height: 160px;
    }

    .conten-fondo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .fondo1{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 700px;
        margin-bottom: -10%;
    }

    .conten-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: -30px;
        margin-top: -210px;
        width: 100%;
        height: auto;
    }

    #cards-hiden{
        display: none;
    }

    .cards{
        width: 80%;
        height: 200px;
        margin: 10px;
        margin-bottom: 30px;
    }

    .texto-card1{
        font-size: 20px;
        margin-top: 20px;
    }
    
    .texto-card2{
        margin-top: -10px;
        color: white;
        font-size: 17px;
        padding: 10px;
    }

    .p1{
        margin-top: -10px;
        font-size: 35px;
    }
    
    .p2{
        font-size: 16px;
    }
    
    .p3{
        font-size: 16px;
    }

    .texto1-sections2{
        font-size:30px;
    }



    .fondo-sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./../../images/fondo-reclinado3.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -5%;
        width: 100%;
        height: 1150px;
        
    }
    
    .sections-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        margin-top:150px;
        font-size:30px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-bottom: 75px;
    }
    
    .conten-cards-section3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        gap: 50px;
    }
    
    .cards-sections3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        margin-bottom: -30px;
        padding: 20px;
        width: 80%;
        height: auto;
        border-radius:15px;
        background: linear-gradient(to top, #2D4A5E, rgba(255, 255, 255, 0.123));
        transition: all 400ms ease;
        cursor: pointer;
    }
        
    .conten-img-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    .texto-servicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: white;
    }
    
    .img-servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }

    .texto-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 15px;
        width: 100%;
        height: auto;
        font-weight: bold;
    }

    .card-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #2d4a5d;
        margin-top: 15%;
        width: 100%;
        height: 120px;
    }

}


@media(max-width: 390px){

    .texto-vtr1{
        font-size: 40px;
        text-align: center;
    }
    
    .texto-vtr2{
        font-size: 25px;
        text-align: center;
        margin-top: -30px;
    
    }

    .logo-colas{
        width: 150px;
        height: 150px;
    }

    .texto1-sections2{
        font-size:25px;
    }

    .boto-glra{
        font-size: 25px;
        font-weight: bold;
    }


}

/* /////////////////////////////////////////////////////////// */

@media(max-width: 770px){

    .conten-texto-sections4{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
    }
    
    .texto1-section4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #2D4A5E;
        font-size:35px;
        font-weight: bold;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    .texto2-section4{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #2D4A5E;
        font-size: 20px;
        margin-bottom: 15%;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    
    .nosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        gap:70px;
    }
    
    .card-valores{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #2d4a5d;
        width: 80%;
        height: auto;
        border-radius:15px;
        margin-top: -5%;
        padding: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    
    .texto3-section4{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        font-size:20px;
        font-weight: bold;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    .texto4-section4{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        font-size: 17px;
        margin-top: -20px;
        padding: 20px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    .texto5-section4{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #2D4A5E;
        font-size:35px;
        font-weight: bold;
        margin-bottom: -10px;
        margin-top: 20%;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    .texto6-section4{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #2D4A5E;
        font-size: 20px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    .nosotros2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        gap:70px;
    }
    
    .card-valores2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: auto;
        background-color: #2D4A5E;
        border-radius: 15px;
        margin-top: 5px;
        padding: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    
    .img-nosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 70px;
        height: 70px;
        margin-bottom: -10px;
    }
    
    .texto7-section4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -10px;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    .texto8-section4{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding: 15px;
        color: #ffffff;
        font-size: 17px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .fondo-sections5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./../../images/fondo-reclinado2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        height: 1100px;
    }

    .conten-cards-section5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: auto;
    }


    .cards-sections5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    .conten-img-texto5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .img-servicios5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -30px;
        width: 70%;
        height: 75%;
    }

    .fondo-sections5{
        margin-top: -10%;
        width: 100%;
        height:1800px;
    }

    .sections-text5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        font-size:35px;
        margin-top: -100%;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-bottom: 75px;
    }

    .conten-card-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -190px;
        padding-bottom:70px ;
        height: 300px;
        gap: 20px;
    }

    .card-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2d4a5d;
        border-radius: 15px;
        padding: 20px;
        width: 70%;
        height: 50%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    .conten-texto-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        height: auto;
    }

    .texto-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #2d4a5d;
        font-size: 35px;
        margin-top: -900px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: bold;
    }

    .img-contacto{
        display: flex;
        width: 50px;
        height: 50px;
    }

}

@media(max-width: 1250px){
    .card-map{
        display: flex;
        width: 900px; 
        height:300px;
        border-radius: 15px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        cursor: pointer;
    }

    .conten-map{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FEDA15;
        width: 70%;
        height: auto;
    }
}

@media(max-width: 950px){
    .card-map{
        display: flex;
        width: 550px; 
        height:250px;
        border-radius: 15px;
        margin-top: 50px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        cursor: pointer;
    }
}

@media(max-width: 600px){
    .card-map{
        display: flex;
        width: 100%; 
        height:180px;
        border-radius: 15px;
        margin-top: 50px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        cursor: pointer;
    }
}

@media(max-width: 700px){
    .container-general-galeria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .conten-img-galeria{
        display: flex;
        flex-direction: column;
        background-image: url(./../../images/apartamento-1.png);
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        width: 90%;
        height: 300px;
        margin-bottom: 50px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    .text-galeria{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #2d4a5d;
        font-size: 40px;
        font-weight: bold;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
}