
html{
    padding: 0%;
    margin: 0%;
}

 body{
    margin: 0%;
    padding: 0%;
} 

/* //////////////////////////////sections1/////////////////////////////////////// */

.container-ventures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.sections1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}



.header{
    background-color: #2D4A5E;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.logo{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 50px;
    width: max-content;
}

.nav-menu-link{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.nav-menu-link:hover{
    border: solid 1px #FEDA15;
    color: #FEDA15;
    transition: 1s;
}

.nav-toggle{
    color: #ffffff;
    background: none;
    border: none;
    font-size: 30px;
    padding:  0 20px;
    line-height: 60px;
    display: none;
}

.boton-nav{
    display: flex;
    text-decoration:none;
    color: #2d4a5d;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #FEDA15;
    border-radius: 5px;
    width: 130px;
    height: 47px;
    padding-left: 30px;
    box-shadow: rgb(21, 32, 44) 0px 20px 30px -10px;
   
}

.boton-nav:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: none;
    border: #FEDA15 solid 1px;
    color: #FEDA15;
    

}   

.options-v{
    display: flex;
    color: white;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.options-v:hover{
   color: #FEDA15;
   background-color: transparent;
   border: solid #FEDA15 1px;
   box-shadow: rgb(17, 26, 36) 0px 20px 30px -10px;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   width: 120px;
   height: 30px;
}
/* ////////////////////////// imagen//////////////////////////// */

.conten-img-ventures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.img-vtr{
    background-image: url(../../images/apartamento2.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.texto-vtr1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 70px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: 1px 1px 1px  #0f0f0e;
}

.texto-vtr2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-size: 40px;
    margin-top: -60px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: 1px 1px 1px  #131312;

}

/* /////////////////////////////////fondo1 y cards///////////////////////////////// */

.conten-fondo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.fondo1{
    background-image: url(../../images/fondo2.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    margin-bottom: -10%;
}

.conten-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, #2D4A5E, rgba(255, 255, 255, 0.123));
    border-radius:15px;
    width: 400px;
    height: 230px;
    margin: 40px;
    transition: all 400ms ease;
    cursor: pointer;
}

.cards:hover{
    transform: translateY(-4%);
    box-shadow: rgb(21, 32, 44) 0px 20px 30px -10px;
}

.texto-card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 40px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.texto-card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -5px;
    color: white;
    font-size: 17px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.button1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: normal;
}

.button1:hover{
    transform: translateY(-4%);
    box-shadow: rgb(21, 32, 44) 0px 20px 30px -10px;
    color: #2D4A5E;
    background-color: #FEDA15;
    font-weight: bold;
    border: none;
}

/* /////////////////////////////////////sections2////////////////////// */

.sections1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.conten-texto-setion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.texto1-sections2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2D4A5E;
    text-align: center;
    font-size:35px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: -10px;
    margin-top: 5%;
}

.texto2-sections2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2D4A5E;
    text-align: center;
    font-size:20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 60px;
}

.conten-img-sections2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;
    gap: 40px;
}

.img1-setions2{
    display: flex;
    flex-direction:column;
    background-image: url(./../../images/apartamento-1.png);
    width: 400px;
    height: 300px;
    border-radius:15px;	  
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 400ms ease;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.img1-setions2:hover{
    transform: translateY(-2%);
    box-shadow: rgb(21, 32, 44) 0px 20px 30px -10px;
    color: #2D4A5E;
    font-weight: bold;
}

.img2-setions2{
    display: flex;
    flex-direction:column;
    background-image: url(./../../images/apartamento-1.png);
    width: 400px;
    height: 300px;
    border-radius:15px; 
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 400ms ease;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.img2-setions2:hover{
    transform: translateY(-2%);
    box-shadow: rgb(21, 32, 44) 0px 20px 30px -10px;
    color: #2D4A5E;
    font-weight: bold;
}

.img3-setions2{
    display: flex;
    flex-direction:column;
    background-image: url(./../../images/apartamento-1.png);
    width: 400px;
    height: 300px;
    border-radius:15px; 
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 400ms ease;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.img3-setions2:hover{
    transform: translateY(-2%);
    box-shadow: rgb(21, 32, 44) 0px 20px 30px -10px;
    color: #2D4A5E;
    font-weight: bold;
}

.textos-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.p1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.p2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.p3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

/* /////////////////////////////////////////// section3/////////////////////////////////// */

.sections3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:1000px;
}

.fondo-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./../../images/fondo-reclinado.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5%;
    width: 100%;
    height: 1150px;
    
}

.sections-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-top: -40px;
    font-size:35px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 75px;
}

.conten-cards-section3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    gap: 50px;
}

.cards-sections3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 400px;
    height: 230px;
    border-radius:15px;
    background: linear-gradient(to top, #2D4A5E, rgba(255, 255, 255, 0.123));
    transition: all 400ms ease;
    cursor: pointer;
}

.cards-sections3:hover{
    transform: translateY(-4%);
    box-shadow: rgb(21, 32, 44) 0px 20px 30px -10px;
}

.conten-img-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.texto-servicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}

.img-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

/* ////////////////////////////////////////// section4/////////////////////////////////////////////// */

.sections4{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.nosotros-sections4{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.conten-texto-sections4{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.texto1-section4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2D4A5E;
    font-size:35px;
    font-weight: bold;
    margin-bottom: -10px;
    margin-top: 10%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.texto2-section4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2D4A5E;
    font-size: 20px;
    margin-bottom: -10%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.nosotros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 700px;
    gap:70px;
}

.card-valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d4a5d;
    width: 450px;
    height: auto;
    border-radius:15px;
    margin-top: -5%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.texto3-section4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size:20px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.texto4-section4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    margin-top: -20px;
    padding: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.texto5-section4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2D4A5E;
    font-size:35px;
    font-weight: bold;
    margin-bottom: -10px;
    margin-top: -20%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.texto6-section4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2D4A5E;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.nosotros2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 700px;
    gap:70px;
}

.card-valores2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: auto;
    background-color: #2D4A5E;
    border-radius: 15px;
    margin-top: -22%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.img-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
}

.texto7-section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.texto8-section4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 15px;
    color: #ffffff;
    font-size: 17px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* ////////////////////////////////////////// section5////////////////////////////////////////////////// */

.sections5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;
}

.fondo-sections5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./../../images/fondo-reclinado2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -25%;
    width: 100%;
    height: 1100px;
}

.sections-text5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size:35px;
    margin-top: -10%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 75px;
}

.conten-cards-section5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
}

.cards-sections5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.conten-img-texto5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
}

.texto-servicio5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: -15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}

.img-servicios5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* ////////////////////////////////////////////////////section6/////////////////////////////////////////// */

.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.conten-texto-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height: auto;
}

.texto-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2d4a5d;
    font-size: 35px;
    margin-top: -200px;
    /* margin-bottom: 500px; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.conten-card-contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
    margin-bottom: 80px;
    gap: 20px;
}

.card-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2d4a5d;
    border-radius: 15px;
    width: 90%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.img-contacto{
    display: flex;
    width: 70px;
    height: 70px;
}

.texto-contacto-card{
    display: flex;
    font-size: 17px;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.conten-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FEDA15;
    width: 100%;
    height: auto;
}

.card-map{
    display: flex;
    width: 1200px; 
    height:300px;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
}

/* ///////////////////////////////////////////////////////////////////////////// section7//////////////////////////////////////////////////////////////////// */

.section7{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.conten-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.card-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d4a5d;
    margin-top: 15%;
    width: 100%;
    height: 200px;
}

.texto-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    height: auto;
    font-weight: bold;
}

.conten-img-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

.img-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    
}

/* ////////////////////////////////////////////////////////galeria////////////////////////////////////// */

.body{
    margin: 2%;
    padding: 2%;
}

.container-general-galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
}

.conten-img-galeria{
    display: flex;
    flex-direction: column;
    background-image: url(./../../images/apartamento-1.png);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 600px;
    height: 400px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.p1-galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.p2-galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.p3-galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
} 

.text-galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2d4a5d;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.boton-galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.boto-glra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: #2d4a5d;
    border-radius: 10px;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    width: 50%;
    height: 50px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}